body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

@import './styles/colors';
@import './styles/functional';
@import './styles/components';

@import './styles/header';
@import './styles/featured';
@import './styles/other-stories';
@import './styles/opinion';